<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> %% username %%'s portfolio page</title>
    <link rel="stylesheet" href="%% url_for('static', filename='css/index.css') %%">
</head>
<body>
<div> Simple Taskbar:
    <a href="/">Home</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
</div>
<p>Here is your cryptoportfolio:</p>
{% if curr %}
    <div class="overlay_menu_box">
        <div class="flex-row flex-space">
            <div class="text-big push-right" id="curr" style="white-space: pre-line">%% curr %%</div>
            <div class="text-big push-left" id="val" style="white-space: pre-line">%% val %%</div>
        </div>
    </div>
{% else %}
    <div>Your cryptoportfolio is empty</div>
{% endif %}
</body>
</html>