<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> %% username %%'s portfolio page</title>
    <link rel="stylesheet" href="%% url_for('static', filename='css/portfolio.css') %%">
</head>
<body>
	



   <center>
       <button class = "bstyle"> <a href="/">Home</a> </button>
    <button class = "bstyle"> <a href="/profile">Profile</a> </button>
    <button class = "bstyle"> <a href="/logout">Logout</a> </button>
</center>
<br>
  <center>
      <p>Here is your cryptoportfolio:</p>
      {% if curr %}
          <div class="currancy_table">
              <div class="text-big push-right" id="curr" style="white-space: pre-line">%% curr %%</div>
              <div class="currancy_table_space"></div>
              <div class="text-big push-left" id="val" style="white-space: pre-line">%% val %%</div>
          </div>
      {% else %}
          <div>Your cryptoportfolio is empty</div>
      {% endif %}
  </center>

</body>
</html>